@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background-color: #000000de; */
  --green-950: #052e16;
  --green-500: #22c55e;
  color: #f6f6f6;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
}

.calculator {
  @apply bg-stone-950 text-slate-100 rounded-3xl py-12 px-8 shadow-2xl mx-auto flex flex-col gap-6;
  grid-column-start: 1;
  width: 100%;
  min-width: 280px;
  font-size: 12px;
}

.calculator input[type="number"] {
  @apply bg-transparent focus:outline-none text-right focus:border-green-500 border-b border-white/60 font-semibold;
  font-size: 18px;
  width: 100%;
}

select {
  background-color: var(--green-950);
  color: var(--green-500);
  font-weight: 600;
  border-radius: 0.375rem;
  padding: 0.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  flex-grow: 1;
  text-transform: uppercase;
}

option {
  color: var(--green-500);
}

#reset {
  color: rgb(255 255 255 / 0.8);
}

#reset:hover {
  text-decoration-line: underline;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }

  .calculator {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .calculator {
    grid-column-start: 2;
    font-size: 18px;
  }

  .calculator input[type="number"] {
    font-size: 24px;
  }
}
